<nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navigation">
                    <ul>
                        <li>
                            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>text</a>
                        </li>
                        <li>
                            <a routerLink="/rooms" routerLinkActive="active">rooms</a>
                        </li>
                        <li>
                            <a routerLink="/facilities" routerLinkActive="active">facilities</a>
                        </li>
                        <li>
                            <a routerLink="/room-services" routerLinkActive="active">room services</a>
                        </li>
                        <li>
                            <a routerLink="/contact" routerLinkActive="active">contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>